html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font-family:'Microsoft YaHei', SimSun, sans-serif;
  vertical-align:baseline;
  background:transparent;
}
body {
  -webkit-text-size-adjust:none;
  min-height:416px;
  width: 100%;
  background-color: #CCCCCC;
}
table {
  width: 100%;
}

#footer {
  width: 100%;
  height: 200px;
  background-color: #FFDDFF;
}

#body {
  min-height: 400px;
  width: 80%;
  margin: 0 auto;
  background-color: #FFFFFF;
}

#header {
  width: 100%;
  height: 60px;
  background-color: #DDFFDD;
}